# https://platform.deepseek.com/
DEEPSEEK_API_KEY = <你的API_KEY>

# https://platform.closeai-asia.com/
CLOSEAI_API_KEY = <你的API_KEY>

# https://mineru.net/apiManage/token
MINERU_API_KEY = <你的API_KEY>

# Milvus
MILVUS_URI = http://<你机器的ip>:19530

# PostgreSQL
POSTGRESQL_URI = postgresql://postgres:123456@<你机器的ip>:5432/postgers

# https://console.amap.com/dev/key/app
AMAP_API_KEY = <你的API_KEY>